---
layout: default
---

<!-- daily blog -->
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
    {{ content }}
</div>


<!-- navigation -->
<hr />

<div>
  {% if page.previous.url %}
    <h3>Previous Post</h3>
    <a href="{{ page.previous.url | prepend:site.url }}">{{page.previous.title}}</a>
  {% endif %}
</div>

<div>
  {% if page.next.url %}
    <h3>Next Post</h3>
    <a href="{{ page.next.url | prepend:site.url }}">{{page.next.title}}</a>
  {% endif %}
</div>
